<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="METALITE_SERVER" value="127.0.0.1" />
    <add key="PORT" value="5000" />
    
    <add key="JELLOX_AI_ANNOTATING_SERVER_STRING_HBS" value="http://127.0.0.1:5000/jellox/hbs_prediction" />
    <add key="JELLOX_AI_ANNOTATING_SERVER_STRING_HE" value="http://127.0.0.1:5000/jellox/hbs_nuclei_prediction" />    
    <add key="JELLOX_AI_ANNOTATING_SERVER_STRING_HOR" value="http://127.0.0.1:5000/jellox/hor_prediction" />    
    <add key="JELLOX_AI_ANNOTATING_SERVER_STRING_Immune" value="http://127.0.0.1:5000/jellox/immune_prediction" />
    <add key="JELLOX_AI_ANNOTATING_SERVER_STRING_Stroma" value="http://127.0.0.1:5000/jellox/stroma_prediction" />       
    <add key="AI_ANTIBODY_PERCENTAGE_SERVER_STRING" value="http://127.0.0.1:5000/jellox/ki67_percentage" />
    <add key="AI_ANTIBODY_PERCENTAGE_PARALLEL_SERVER_STRING" value="http://127.0.0.1:5000/jellox/ki67_percentage_parallel" />
    <add key="JELLOX_3D_IMAGE_SLICE_TO_STL_MODEL" value="http://127.0.0.1:5000/jellox/image_to_stl" />

    <add key="HH_AI_ANNOTATING_SERVER_STRING" value="http://192.168.1.100/api/model/run" />
    <add key="JELLOX_AI_ANNOTATING_SERVER_STRING_WSI_HE" value="http://127.0.0.1:5000/jellox/mackay_breast_prediction" />
    <add key="CHIMEI_AI_ANNOTATING_SERVER_STRING_HE" value="http://127.0.0.1:5000/jellox/chimei_breast_prediction" />
    <add key="MACKAY_AI_ANNOTATING_SERVER_STRING_HE" value="http://127.0.0.1:5000/jellox/mackay_breast_prediction" />
    <add key="CAMELYON_AI_ANNOTATING_SERVER_STRING_HE" value="http://127.0.0.1:5000/jellox/openvino_camelyon_breast_prediction" />
    <add key="COLOR_TRANSFER_IHC" value="http://127.0.0.1:5000/jellox/color_transfer_ihc" />
    <add key="COLOR_TRANSFER_HE" value="http://127.0.0.1:5000/jellox/color_transfer_he" />      
    <add key="JELLOX_ANTIBODY_PERCENTAGE_SERVER_TIMEOUT" value="30" />    
    <add key="JELLOX_AI_ANNOTATING_SERVER_TIMEOUT" value="30" />    
    <add key="DEFAULT_SERVER_TIMEOUT" value="5" />    
    <add key="HH_AI_ANNOTATING_SERVER_TIMEOUT" value="1" />
    <add key="AUTOSAVE_TIMER" value="30" />
    <add key="DEFAULT_ALPHA" value="100" />    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IS_SAVE_PNG" value="true"/>
    <add key="IS_ON_HH_MACHINE" value="true"/>    
    <add key="IS_LAUNCH_SERVER" value="false"/>
    <add key="RESERVED_MEMORY" value="8"/>
    <add key="USER_MANUAL" value="https://hackmd.io/@changsy/SkjLhhxpU#/"/>
    <add key="CUSTOMIZE_AI_MODEL" value="https://jellox.com/#contact"/>
    <add key="NEWS" value="https://sites.google.com/jellox.com/metalite-news/%E6%9C%80%E6%96%B0%E6%B6%88%E6%81%AF"/>
    <add key ="WARNINGINFO" value="MetaLite is protected by copyright law and international treaties. Unauthoized reproduction or distribution of this program, or any portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law."/>
    <add key ="FDAWARNING" value="This software is for Research Use Only, not for use in Diagnostic procedures. Please contact JelloX at sales@jellox.com to obtain the appropriate product information for your country of residence."/>
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>